*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --bg-color: #4589FF;
    --ligth-blue: #005DFF;
    --style: #D1D1D1;
    --icon: #A8A8A8;
    --menu: #42526E;
    --arrow-hover: #E3EEFF;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-color);
}

/* .logo-container {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 37px;
    left: 38px;
} */

.logo-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: calc(50% - 176px);
    top: calc(50% - 390px);
}

.white-small-logo {
    position: relative;
    width: 64px;
    height: 78.031px;
    flex-shrink: 0;
    cursor: pointer;
}

.sign-up-container {
    display: flex;
    width: 100%;
    max-width: 396px;
    height: 612px;
    padding: 32px 0px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    /* top: 157px;
    left: 16px; */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .sign-up-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 360px;
    height: 512px;
    display: flex;
    padding: 32px 0px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
} */

.arrow-container {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40px;
    top: 40px;
}

.arrow-left-icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    cursor: pointer;
    background-image: url("img/arrow-left-line.png");
    background-size: cover;
    transition: background-image 0.1s ease-in-out;
}

.arrow-left-icon:hover {
    background-image: url("img/arrow-hover.png");
}

.sign-up-main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 364px;
    height: 409px;
}

.sign-up-sub-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /* width: 315px;
    height: 72px; */
}

.sign-up-header-title {
    text-align: center;
    color: black;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    word-wrap: break-word;
}

.sign-up-header-line {
    width: 88px;
    height: 2px;
    background-color: var(--bg-color);
}

.sign-up-formular {
    display: flex;
    width: 364px;
    height: 313px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.sign-up-info-box {
    display: flex;
    padding: 12px 21px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-bottom: 1px solid var(--style, #D1D1D1);
    background: #FFF;
}

.sign-up-input-frame {
    width: 100%;
    max-width: 322px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
}

.sign-up-text-input {
    color: var(--style, #D1D1D1);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border: none;
    color: black;
    cursor: pointer;
}

.sign-up-text-input::placeholder {
    color: var(--style, #D1D1D1);
}

.sign-up-text-input:focus {
    outline: none;
    border: none;
}

.sign-up-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.password-match-error {
    align-self: stretch;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.80px;
    word-wrap: break-word;
    color: #FF8190;
    display: none;
}

.privacy-check-container {
    display: flex;
    width: 231px;
    height: 24px;
    align-items: center;
    gap: 8px;
}

.privacy-check-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    cursor: pointer;
}

.privacy-check-icon:hover {
    background-image: url(img/check-button-hover.png);
    cursor: pointer;
}

.privacy-accept-text {
    color: var(--menu, #42526E);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.privacy-policy-link {
    color: var(--ligth-blue, #005DFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
    cursor: pointer;
}

.privacy-policy-link:hover {
    text-decoration: underline;
    scale: 1.04;
}

.sign-up-btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sign-up-btn {
    padding: 10px 35px;
    border-radius: 8px;
    background: var(--bg-color);
    color: #FFFFFF;
    width: 180px;
    height: 51px;
    padding: 4px 0px;
    gap: 10px;
    border: none;
    font-family: 'Open sans', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
}

.sign-up-btn:hover {
    background: var(--ligth-blue, #005DFF);
    transition: ease-in-out 100ms;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.legal-notice-container {
    position: absolute;
    /* inset: 0; */
}

.legal-notice-sub-container {
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 250px;
    top: 865px;
}

.legal-notice-text {
    color:  #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
    position: relative;
}